<!-- SABOO HOME PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="static/homepage.css">
    <script src="static/homepage.js"></script>
</head>
<body>
    <!-- Nav bar   -->
  <nav>
    <div class="container flex main-nav">
        <a href="#" class="company-logo img"><img src="static/logo final.png"  alt="company-logo"></a>
        <div class="nav-links">
            <ul class="flex">
                <li><a href="/aboutus"class="hover-link">About Us</a></li>
                <li><a href="/faq"class="hover-link">FAQs</a></li>

                
                <li><a href="/register"class="hover-link secondary-button">Sign In</a></li>
              </ul>
        </div>
    </div>
  </nav>
  <header>
        <h1>
        <a href="" class="typewrite header-txt container flex" data-period="2000" data-type='[ "Welcome to EHR", "Your Own Digital Health Record Vault"]'>
          <span class="wrap"></span>
        </a>
        </h1>
        <div class="container header-section flex">
            <!-- <div class="header-left">
                <img src="./assets/undraw_personal_documents_re_vcf2.svg" alt="a person adding personal documents">
              </div>
            </div> -->
          <div class="header-right">
            <img src="static/document1.svg" alt="a person putting documents in a bag">
          </div>
        </div>
    </header>
    <section class="progress-section">
        <div class="container">
          <div class="small-bold-text progress-header">Store Doctor's Prescription, Test Reports, Lab Reports for you & your family.</div>
        </div>
      </section>


<!-- BIG FEATURES SECTION -->
  <section class="big-feature-section">
    <div class="container flex big-feature-container">
      <!-- We have created the first feature and copy it thrice in total -->
      <div class="feature-img">
        <img src="static/undraw_medicine_b-1-ol (1).svg" alt="">
      </div>
      <div class="feature-desc flex">
        <h2>Your health in Your Hand</h2>
        <p>Having all your health information in One place helps in reducing stress of finding Important 
            medical records like Prescriptions & Test Reports at the needed time. You are in control of situations and are 
            able to provide the right feedback to the doctor. The health records is available for Oneself and Entire Family.</p>

      </div>
    </div>
  </section>

  <section class="big-feature-section">
    <div class="container flex big-feature-container" style="flex-direction: row-reverse;">
    <div class="feature-img">
      <img src="static/undraw_grandma_re_rnv1.svg" alt="">
    </div>
    <div class="feature-desc flex">
      <h2>Caring for your family's health</h2>
      <p>You are empowered to maintain the Medical history of your loved once. As Toddler age 
        and Old Age are very challenging in terms of keep medical records, Health Bridge(HB) enables the
        empowerment to maintain the health records easily.
        Our healthcare app is available when you need it – 365 days 24 hours.
      </p>
    </div>
  </div>
  </section>

  <section class="big-feature-section">
    <div class="container flex big-feature-container">
    <div class="feature-img">
      <img src="static/undraw_doctor_kw-5-l.svg" alt="">
    </div>
    <div class="feature-desc flex">
      <h2>Increased Quality of Care</h2>
      <p>Digital Health Records provide the ability to exchange complete medical history about a patient in real time. 
        Accurate, up-to-date and thorough information naturally leads to a higher quality of care,
        from better diagnoses to reduced errors. The Doctors are able to take an informed decision once he can look at the
         Medical History of a patient for accurate Diagnosis and treatment.</p>

    </div>
    </div>
</section>

  <section class="big-feature-section">
    <div class="container flex big-feature-container" style="flex-direction: row-reverse;">
    <div class="feature-img">
      <img src="static\undraw_motherhood_re_pk2m.svg" alt="">
    </div>
    <div class="feature-desc flex">
      <h2>Health Care for the Elderly and Children</h2>
      <p>Health Bridge will let healthcare profession and old age people access their personal health record over the Phone or Internet.</p>
    </div>
  </div>
  </section>
  <!-- footer -->
  <footer>
    <div class="container flex footer-container">
        <div class="company-info link-coloumn flex">
            <a href="#" class="company-logo">
                <img src=" static/logo final.png" alt="company-logo">
              </a>
              <p>Health Bridge is a Unique Platform where multiple types of data can be stored at One Location ranging from Doctor Prescriptions,
                Labs Test Reports, Medical X-rays, Bills, and other relevant information easily accessible from anywhere.</p>  
          </div>
      
      <div class="link-coloumn flex">
        <h4>Product</h4>
        <a href="homepage.html" class="hover-link">Home</a>
        <a href="aboutus.html" class="hover-link">About Us</a>
        <a href="faqs.html" class="hover-link">FAQs</a>
        <a href="#" class="hover-link">Customers page</a>
        <a href="#" class="hover-link">Status Page</a>
      </div>

      <div class="link-coloumn flex">
        <h4>Made By</h4>
        <a href="#" class="hover-link">Nidhi Kadam</a>
        <a href="#" class="hover-link">Meetali Kapse</a>
        <a href="#" class="hover-link">Mamta Gupta</a>
        <a href="#" class="hover-link">Ayesha Nagdawala</a>
        <a href="#" class="hover-link">Archie Shah</a>
      </div>



    </div>
  </footer>
  <div class="subfooter">
    <div class="container flex subfooter-container">
        <a class="hover-links1" href="">Privacy Policy</a>
        <a class="hover-links1" href="">Terms and conditions</a>
        <a class="hover-links1" href="">Security Information</a>
        <a class="hover-links1" href=""><i class="fa-brands fa-facebook"></i></a>
        <a class="hover-links1" href=""><i class="fa-brands fa-twitter"> </i></a>
    </div>
</div>
      <!-- <div class="spacer" style="height: 100vh;"></div> -->
    <!-- <div class="container flex header-section">
        <div class="header-left">
            <h1 class="features-heading-text">Design Confidently</h1>
            <p>UsabilityHub is a remote user research platform that takes the guesswork out of design decisions by validating them with real users.</p>
            <a href="#" class="primary-button get-started-btn">Get Started</a>
          </div>
          <div class="header-right">
            <img src="./assets/document1.svg" alt="hero image">
          </div>
      </div> -->
    
    <script src="https://kit.fontawesome.com/cb88b54bf5.js" crossorigin="anonymous"></script>  
</body>
</html>